{#
  Base theme of atsphinx-typst
  ============================

  This implements simple reporing style.
  It has these settings:

  * Cover page.
  * Outline of contents.
  * Contents with page number on footer layout.

  This is designed by 5 blocks of Jinja.

  .. todo:: More cleanly lines and spaces
#}

{#
  Preamble section
  ----------------
#}
{% block preamble %}
{# Import statements #}
{{ packages.code }}

{#
  To set PDF metadata.

  :ref: https://typst.app/docs/reference/model/document/
#}
#set document(
  title: [{{ title }}],
  {% if author %}
  {# NOTE: Hack to use only current implements #}
  author: {{ author|tojson }},
  {% endif %}
)

{# Font configuration #}
{% if font %}
#set text(font: "{{ font }}")
{% endif %}

{# Global configuration #}
{# Allow pagebreaks in tables, even if they are wrapped in a figure (the default) #}
#show figure: set block(breakable: true)

{# Layout definitions #}
{% include 'layout.typ' %}
{% endblock %}

{#
  Front-matter section
  --------------------
  
  This section is to render cover, credit and items that author wants audience to see first.
#}
{% block front_matter %}
{# Render cover #}
{% block cover %}
  {% include 'cover.typ' %}
{% endblock %}

{# Render outline #}
{% block outline %}
  #show: cleanPage
  #outline()
{% endblock %}

{% endblock %}

{#
  Main body section
  -----------------

  This section is to render ``body`` translated by Sphinx.
#}
{% block main %}
#show: contentPage

{{ body|safe }}
{% endblock %}

{#
  Back-matter section
  -------------------

  This section is to render glossary, index, impressum and items for useful to read detailedly.
#}
{% block back_matter %}
{% endblock %}
